body {
	margin: 5px 5px;
	font: 14px Helvetica Neue;
}

div {
	position: relative;
	overflow: hidden;
	
}

#container {
	width: 100%;
	height: 100%;
	font-family: Calibri, Helvetica, 'Gill Sans', 'Gill Sans MT',
		'Trebuchet MS', sans-serif;
	font-size: 14px;
	font-weight: normal;
}

#left {
	width: 200px;
	height: 700px;
	margin-left: 20px;
	float: left;
	border-right: 1px solid #f0f0f0;
	
	background: white;
}

#main {
	width: 1150px;
	height: 700px;
	background: white;
	float: left;
	
	margin: 0px 5px;
	
}

#flowchart {
	background: white;
	height: 300px;
	width: 1100px;
	float: left;
	border: 1px dashed grey;
	position: relative;
}
#bin{
	background: white;
	height: 350px;
	width: 545px;
	float: left;
	border: 1px dashed grey;
	position: relative;
	margin:1px 5px 0px 0px;
}
#panel2 {
	background: white;
	height: 350px;
	width: 545px;
	float: left;
	border: 1px dashed grey;
	position: relative;
	margin:1px 0px 0px 4px;
}
#bin.over {
	background: grey;
}

#bin p {
	font-weight: bold;
	text-align: center;
	position: absolute;
	bottom: 20px;
	width: 166px;
	font-size: 32px;
	color: #fff;
	text-shadow: #000 2px 2px 2px;
}
#fileTree ul {
	margin: 0px;
	padding:0px;
	height: auto;
	font-size:14px;
	font-family: Calibri, Helvetica, 'Gill Sans', 'Gill Sans MT',
		'Trebuchet MS', sans-serif;
}
#fileTree li {
	list-style: none;
	width: 150px;
	height:22px;
	margin:5px 0px;
	background-color: #03C8FA;
	border: 1px dashed #03C8FA;
	border-radius: 4px;
	padding:1px;
}

#fileTree li a {
	text-decoration: none;
	margin: 5px 5px;
	width: 150px;
	height:22px;
	
	
	padding: 0px;
	margin:0px;
	display: block;
	line-height:22px;
	color:white;
}

*[draggable=true] {
	-moz-user-select: none;
	-khtml-user-drag: element;
	cursor: move;
}

*:-khtml-drag {
	/* background-color: rgba(238, 238, 238, 0.5); */
}

#fileTree li a:hover:after {
	/* content: '    drag'; */
}

.over{
	background-color:red;
}

#fileTree li.over {
	
	
}


#fileUpload {
	width: 200px;
	font-size: 14px;
}

 #fileUpload input {
	width: 160px;
	height: 25px;
	padding: 0px;
	margin: 0px;
	border: 1px;
	background-color:white;
	float:left;
	opacity: 1;
	fill:white;
} 
#fileUpload .submit {
	width: 68px;
	height: 23px;
	padding: 0px;
	margin: 0px;
	background-color: #b5b3b7;
	border: 1px solid #CDCDCD;
	float:left;
} 


.file-box {
	position: relative;
	width: 340px
}

.txt {
	height: 22px;
	border: 1px solid #cdcdcd;
	width: 180px;
}

.btn {
	background-color: #FFF;
	border: 1px solid #CDCDCD;
	height: 24px;
	width: 80px;
	margin-left:-160px;
	}

.file {
	position: absolute;
	top: 25px;
	left: 0px;
	height: 24px;
	filter: alpha(opacity : 0);
	opacity: 0;
	width: 80px
}
/* 所有水平导航条的样式*/
.menu {
	width: 100%;
	height: 35px;
	float: right;
	text-align: center;
	font-family: Calibri, Helvetica, 'Gill Sans', 'Gill Sans MT',
		'Trebuchet MS', sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #F0F0F0;
	align:center;
	margin-bottom:20px;
}

.menu ul {
	list-style: none; /* 去掉ul前面的符号 */
	padding: 0px; /* 与内部元素的距离为0 */
	width: 800px;
	height: 35px;
	display: block;
	margin-left: 20px ;
	margin-top:0px;
	align:middle;
}

.menu ul li {
	float: left;
	width: 120px;
	height: 35px;
	display: block;
	background-color: #2E4257;
	margin-left: 2px;
}

.menu ul li:hover {
	cursor: pointer;
}

.menu ul li.one-line {
	float: left;
	line-height: 35px;
	display: block;
	
}

.menu ul li.current {
	float: left;
	line-height: 35px;
	display: block;
	background-color: #03C8FA;
	

}

.menu ul li a {
	color: white;
	text-decoration: none;
	display: block;
	height: 35px;
	padding: 0px;
	margin: 0px;
}

/* 水平导航条的样式的结束*/