body {
    margin: 40px;
    font: 14px Helvetica Neue;
}

div {
    position: relative;
    overflow: hidden;
    border-radius:5px; 
      
}

span {
    display: inline-block;
    position: absolute;
    height: 16px;
}

.progress {
    border: solid 2px #ccc;
    background: #eee;
}

.progress .value {
    background: #3182bd;
}
#container{
	width:100%;
	height:100%;
	font-family:Calibri, Helvetica, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	font-size:14px;
	font-weight:bold;
}
 #sidebar{
 width:200px;
 height:600px;
 float:left;
 border:1px solid grey;
 border-radius:5px;
 }
 
 #content{
 width:1100px;
 height:600px;
 background:white;
 float:left;
 border:1px solid grey;
 margin:0px 5px;
 border-radius:5px;
 }
 #top{
 width:1100px;
 height:50px;
 border-bottom:1px solid grey;
 }
 #top ul {
 margin:4px 0px;
 }
 #top ul li{
 margin:-8px 4px 14px 3px;
 text-align:center;
 list-style:none;
 float:left;
 width:60px;
 height:20px;
 }
 #top ul li span{
 float:left;
 
 width:60px;
 height:20px;
 display:inline-block; 
 border:1px solid #000; 
 border-radius:3px;
 cursor:hand;
 align:center;
 } 
 #bottom{
 width:900px;
 height:500px;
 float:left;
 }
 #bottom div{
 width:900px;
 height:500px;
 display:none;
 }
 #toolbar{
 width:190px;
 height:600px;
 margin-top:0px;
 float:right;
 border:1px solid grey;
 }
 #toolbar div{
 display:none;
 }
 #info{
 width:800px;
 float:left;
 }
 #my_custom_menu{
 width:140px;
 height:300px;
 display:none;
 border:1px solid grey;
 border-radius:4px;
 background:white;
 }
 #map_menu{
 width:140px;
 height:300px;
 display:none;
 border:1px solid grey;
 border-radius:4px;
 background:white;
 }
 #map_detail{
 width:600px;
 height:480px;
 z-index:3;
 position:absolute;
 display:none;
 border:1px solid grey;
 border-radius:4px;
 background:white;
 }
 #states path {
  fill: #ccc;
  stroke: #fff;
}

path.arc {
  pointer-events: none;
  fill: none;
  stroke: #000;
  display: none;
}

path.cell {
  fill: none;
  pointer-events: all;
}

circle {
  fill: steelblue;
  fill-opacity: .8;
  stroke: #fff;
}

#cells.voronoi path.cell {
  stroke: brown;
}

#cells g:hover path.arc {
  display: inherit;
}
/*flare style*/
 #sidebar .node rect {
    cursor: pointer;
    fill: #fff;
    fill-opacity: .2;
    stroke: #3182bd;
    stroke-width: 1px;
    border-radius:5px;
    border:1px;
}

 #sidebar .node text {
     font: 12px sans-serif;
     pointer-events: none;
 }

#sidebar path.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
} 
/*line style*/
#line .foreground path {
  fill: none;
  stroke-opacity: .5;
  stroke-width: 1.5px;
}

#line .foreground path.fade {
  stroke: #000;
  stroke-opacity: .05;
}

#line .legend {
  font-size: 18px;
  font-style: oblique;
}

#line .legend line {
  stroke-width: 2px;
}

#line .setosa {
  stroke: #800;
}

#line .versicolor {
  stroke: #080;
}

#line .virginica {
  stroke: #008;
}

#line .brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

#line .axis line, #line .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#line .axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}
/*line style end*/
/*bar style*/
#bar .bar {
  fill: steelblue;
}

#bar .bar:hover {
  fill: brown;
}

#bar .axis {
  font: 10px sans-serif;
}

#bar .axis path,
#bar .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#bar  .x.axis path {
  display: none;
}
/*bar style ends*/
/*mapDetail style*/
#map_detail .arc path {
  stroke: #fff;
}
/*mapDetail ends*/