<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>vis</title>
<link rel="stylesheet" type="text/css" href="./css/myStyle.css" />
<link rel="stylesheet" href="./css/html5demos.css">
<script type="text/javascript" src="./js/h5utils.js"></script>
<script type="text/javascript" src="./js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="./js/ajaxfileupload.js"></script>
<script type="text/javascript">
	function getFileListFromServer() {
		$.post('ReadFile',  function(data,status) {
			
			var strs= new Array(); //定义一数组 

			strs=data.split(","); //字符分割 
			for (i=0;i<strs.length-1 ;i++ ) 
			{ 
				$(".list").append("<li><a href='#' draggable='true' id='five'>"+strs[i]+"</a></li>");
			} 
			
		});
	}
	$()
	$(document).ready(function(){
		//console.log("ready......");
		//getFileListFromServer();
		
		});
</script>
<script type="text/javascript">
	function ajaxFileUpload() {
		$.ajaxFileUpload({
			url : "FileUploadServlet", //submit to UploadFileServlet  
			secureuri : false,
			fileElementId : 'fileToUpload',
			dataType : 'text', //or json/xml whatever you like~  
			success : function(data, status) {
				
				//console.log(data);
				var start = data.indexOf(">");  
	             if(start != -1) {  
	               var end = data.indexOf("<", start + 1);  
	               if(end != -1) {  
	                 data = data.substring(start + 1, end);  
	                }  }
	               console.log(data);
				$(".list").append("<li><a href='#' draggable='true' id='five'>"+data+"</a></li>");
			},
			error : function(data, status, e) {
				$("#result").append(data);
			}
		});
		return false;
	}
	
</script>
<!-- mindmap  -->
<link rel="icon" type="image/png" href="img/favicon.png" />
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/Aristo/jquery-ui-1.8.7.custom.css" />
<link rel="stylesheet" href="css/minicolors/jquery.miniColors.css">

<script id="template-float-panel" type="text/x-jquery-tmpl">
<div class="ui-widget ui-dialog ui-corner-all ui-widget-content float-panel no-select">
  <div class="ui-dialog-titlebar ui-widget-header ui-helper-clearfix">
    <span class="ui-dialog-title">${title}</span>
    <a class="ui-dialog-titlebar-close ui-corner-all" href="#" role="button">
      <span class="ui-icon"></span>
    </a>
  </div>
  <div class="ui-dialog-content ui-widget-content">
  </div>
</div>
</script>

<script id="template-notification" type="text/x-jquery-tmpl">
<div class="notification">
  {{if closeButton}}
  <a href="#" class="close-button">x</a>
  {{/if}}
  {{if title}}
  <h1 class="title">{{html title}}</h1>
  {{/if}}
  <div class="content">{{html content}}</div>
</div>
</script>

<script id="template-open-table-item" type="text/x-jquery-tmpl">
<tr>
  <td><a class="title" href="#">${title}</a></td>
  <td>${$item.format(dates.modified)}</td>
  <td><a class="delete" href="#">delete</a></td>
</tr>
</script>

<script id="template-open" type="text/x-jquery-tmpl">
<div id="open-dialog" class="file-dialog" title="Open mind map">
  <h1><span class="highlight">New!</span> From the Cloud: Dropbox and more</h1>
  <p>Open, save and share your mind maps online in your favorite cloud storage. Supports Google Drive, Dropbox and more! Powered by <a href="http://www.filepicker.io" target="_blank">filepicker.io</a>.</p>
  <button id="button-open-cloud">Open</button>
  <span class="cloud-loading">Loading...</span>
  <span class="cloud-error error"></span>
  <div class="seperator"></div>
  <h1>Local Storage</h1>
  <p>This is a list of all mind maps that are saved in your browser's local storage. Click on the title of a map to open it.</p>
  <table class="localstorage-filelist">
    <thead>
      <tr>
        <th class="title">Title</th>
        <th class="modified">Last Modified</th>
        <th class="delete"></th>
      </tr>
    </thead>
    <tbody class="document-list"></tbody>
  </table>
  <div class="seperator"></div>
  <h1>From file</h1>
  <p>Choose a mind map from your computer's hard drive.</p>
  <div class="file-chooser">
    <input type="file" />
  </div>
</div>
</script>

<script id="template-save" type="text/x-jquery-tmpl">
<div id="save-dialog" class="file-dialog" title="Save mind map">
  <h1><span class="highlight">New!</span> In the Cloud: Dropbox and more</h1>
  <p>Open, save and share your mind maps online in your favorite cloud storage. Supports Google Drive, Dropbox and more! Powered by <a href="http://www.filepicker.io" target="_blank">filepicker.io</a>.</p>
  <button id="button-save-cloudstorage">Save</button>
  <span class="cloud-error error"></span>
  <div class="seperator"></div>
  <h1>Local Storage</h1>
  <p>You can save your mind map in your browser's local storage. Be aware that this is still experimental: the space is limited and there is no guarantee that the browser will keep this document forever. Useful for frequent backups in combination with cloud storage.</p>
  <button id="button-save-localstorage">Save</button>
  <input type="checkbox" class="autosave" id="checkbox-autosave-localstorage">
  <label for="checkbox-autosave-localstorage">Save automatically every minute.</label>
  <div class="seperator"></div>
  <h1>To file</h1>
  <p>Save the mind map as a file on your computer.</p>
  <div id="button-save-hdd">Save</div>
</div>
</script>

<script id="template-navigator" type="text/x-jquery-tmpl">
<div id="navigator">
  <div class="active">
    <div id="navi-content">
      <div id="navi-canvas-wrapper">
        <canvas id="navi-canvas"></canvas>
        <div id="navi-canvas-overlay"></div>
      </div>
      <div id="navi-controls">
        <span id="navi-zoom-level"></span>
        <div class="button-zoom" id="button-navi-zoom-out"></div>
        <div id="navi-slider"></div>
        <div class="button-zoom" id="button-navi-zoom-in"></div>
      </div>
    </div>
  </div>
  <div class="inactive">
  </div>
</div>
</script>


<script id="template-inspector" type="text/x-jquery-tmpl">
<div id="inspector">
  <div id="inspector-content">
    <table id="inspector-table">
      <tr>
        <td>Font size:</td>
        <td><div
            class="buttonset buttons-very-small buttons-less-padding">
            <button id="inspector-button-font-size-decrease">A-</button>
            <button id="inspector-button-font-size-increase">A+</button>
          </div></td>
      </tr>
      <tr>
        <td>Font style:</td>
        <td><div
            class="font-styles buttonset buttons-very-small buttons-less-padding">
            <input type="checkbox" id="inspector-checkbox-font-bold" /> 
            <label
            for="inspector-checkbox-font-bold" id="inspector-label-font-bold">B</label>
              
            <input type="checkbox" id="inspector-checkbox-font-italic" /> 
            <label
            for="inspector-checkbox-font-italic" id="inspector-label-font-italic">I</label> 
            
            <input
            type="checkbox" id="inspector-checkbox-font-underline" /> 
            <label
            for="inspector-checkbox-font-underline" id="inspector-label-font-underline">U</label> 
            
            <input
            type="checkbox" id="inspector-checkbox-font-linethrough" />
             <label
            for="inspector-checkbox-font-linethrough" id="inspector-label-font-linethrough">S</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>Font color:</td>
        <td><input type="hidden" id="inspector-font-color-picker"
          class="colorpicker" /></td>
      </tr>
      <tr>
        <td>Branch color:</td>
        <td><input type="hidden" id="inspector-branch-color-picker"
          class="colorpicker" />
          <button id="inspector-button-branch-color-children" title="Apply branch color to all children" class="right buttons-small buttons-less-padding">Inherit</button>
        </td>
      </tr>
    </table>
  </div>
</div>
</script>

<script id="template-export-map" type="text/x-jquery-tmpl">
<div id="export-map-dialog" title="Export mind map">
  <h2 class='image-description'>To download the map right-click the
    image and select "Save Image As"</h2>
  <div id="export-preview"></div>
</div>
</script>
</head>
<body>

	<div id="container">
	<div id="menu" class="menu">
	<ul>
						<li class="one-line"><a href="javascript:void(0);">PREPROCESS<br /></a></li>

						<li class="one-line"><a href="javascript:void(0);">DM ALGORITHM</a></li>

						<li class="one-line"><a href="javascript:void(0);">DATA ORGANIZE</a></li>

						<li class="current"><a href="javascript:void(0);">DATA VIS</a></li>

						<li class="one-line"><a href="javascript:void(0);"> HELP</a></li>

						<li class="one-line"><a href="javascript:void(0);"> ADMIN</a></li>
					</ul>
	</div>
		<div id="left">
				
				<div id="fileUpload">
				<p >上传数据</p>
					 <form name="form" action="FileUploadServlet" method="POST"	enctype="multipart/form-data">
						<input id="fileToUpload" type="file"  name="fileToUpload" value="Browse">							
						<button class="submit" id="buttonUpload" onclick="return ajaxFileUpload();">上传文件</button>
					</form> 
					
				</div>
				<div id="result"></div>
				<div id="fileTree" style="width: 200px">
					<p>我的文件</p>

					<ul class="list">
						
					</ul>

				</div>

			
		</div>
		<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
		<div id="main">
			<div id="flowchart" >
			<div id="topbar">
      <div id="toolbar">
        <div id="logo" class="logo-bg">
          <span>mindmaps</span>
        </div>

        <div class="buttons">
          <span class="buttons-left"> </span>
           <span class="buttons-right"> </span>
        </div>

      </div>
    </div>
    <div id="canvas-container">
      <div id="drawing-area" class="no-select"></div>
    </div>
    <div id="bottombar">
      <!-- <div id="about">
        <a href="about.html" target="_blank">About mindmaps</a> <span
          style="padding: 0 4px;">|</span> <a style="font-weight: bold"
          href="https://spreadsheets.google.com/a/drichard.org/spreadsheet/viewform?formkey=dEE3VzFWOFp6ZV9odEhhczVBUUdzc2c6MQ"
          target="_blank">Feedback</a>
      </div> -->
      <div id="statusbar">
        <div  class="buttons buttons-right buttons-small buttons-less-padding"></div>
      </div>
    </div>
			</div>
			<div id="bin"></div>
			<div id="panel2"></div>
		</div>
	</div>

	<!-- ECharts单文件引入 -->
	<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
	<script type="text/javascript" src="./js/myChart.js">
	
	</script>
	<script>
	getFileListFromServer();
	drawEventRiver('panel2');
		//var eat = [ 'yum!', 'gulp', 'burp!', 'nom' ];
		//var yum = document.createElement('p');
		var msie = /*@cc_on!@*/0;
		//yum.style.opacity = 1;

		var links = document.querySelectorAll('.list > li');
		var el = null;
		//console.log(links.length);
		for (var i = 0; i < links.length; i++) {
			el = links[i];

			el.setAttribute('draggable', 'true');

			addEvent(el, 'dragstart', function(e) {
				e.dataTransfer.effectAllowed = 'copy'; // only dropEffect='copy' will be dropable
				e.dataTransfer.setData('Text', this.id); // required otherwise doesn't work
			});
		}

		var bin = document.querySelector('#bin');

		addEvent(bin, 'dragover', function(e) {
			if (e.preventDefault)
				e.preventDefault(); // allows us to drop
			this.className = 'over';
			e.dataTransfer.dropEffect = 'copy';
			return false;
		});

		// to get IE to work
		addEvent(bin, 'dragenter', function(e) {
			this.className = 'over';
			return false;
		});

		addEvent(bin, 'dragleave', function() {
			this.className = '';
		});

		addEvent(bin, 'drop', function(e) {
			if (e.stopPropagation)
				e.stopPropagation(); // stops the browser from redirecting
			
				drawEventRiver('bin');
			
			var el = document.getElementById(e.dataTransfer.getData('Text'));
console.log(e.dataTransfer.getData('Text'));
			//el.parentNode.removeChild(el);

			// stupid nom text + fade effect
			bin.className = '';
			
			//bin.appendChild(y);

			/*  setTimeout(function () {
			     var t = setInterval(function () {
			         if (y.style.opacity <= 0) {
			             if (msie) { // don't bother with the animation
			                 y.style.display = 'none';
			             }
			             clearInterval(t);
			         } else {
			             y.style.opacity -= 0.1;
			         }
			     }, 50);
			 }, 250);*/

			return false;
		});
	</script>
	<script src="./js/prettify.packed.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
 <script src="http://www.filepicker.io/v0/filepicker.js"></script> 

  

  <script src="js/mindmap/script.js"></script>

  
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push([ '_setAccount', 'UA-23624804-1' ]);
  _gaq.push([ '_trackPageview' ]);
  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl'
        : 'http://www')
        + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>